<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
	    <h2>게시글 등록</h2>
	    <form id="frm" name="frm" method="post" action="/board/insert">
	    	<table class="board_detail">
	    		<tr>
					<th scope="row">카테고리</th>
					<td>
						<select name="category" id="category" required>
							<option value="select" selected disabled>선택</option>
							<option value="공지사항">공지사항</option>
							<option value="자유게시판">자유게시판</option>
							<option value="사진게시판">사진게시판</option>
						</select>
					</td>
					<th scope="row">제목</th>
					<td><input type="text" id="title" name="title"/></td>
	    		</tr>
	    		<tr>
	    			<td colspan="4">
		    			<textarea id="contents" name="contents"></textarea>
	    			</td>
	    		</tr>
	    	</table>
	    	<input type="submit" id="submit" value="저장" class="btn">
	    </form>
    </div>
</body>
</html>