<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cade.css"> <!-- CSS 파일 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="header d-flex justify-content-between align-items-center mt-4">
    <button id="toggleOverlay" style="border: none; background: none; font-size: 24px;">
        &#9776; <!-- 햄버거 아이콘 -->
    </button>
    <a href="/main" class="navbar-brand text-center flex-grow-1" style="text-decoration: none; color: inherit;">
        <h1>Mellow</h1>
    </a>

    <!-- 사람 아이콘 -->
    <div class="icon-container d-flex align-items-center">
        <a href="#" th:href="@{/login}">
            <button style="border: none; background: none; font-size: 24px;">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4z"></path>
                    <path d="M20 20c0-2.21-2.24-4-8-4s-8 1.79-8 4"></path>
                </svg>
            </button>
        </a>
    </div>

    <!-- 돋보기 아이콘 -->
    <button style="border: none; background: none; font-size: 24px;">
        <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
        >
            <circle cx="10" cy="10" r="7"></circle>
            <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
    </button>
</div>
</div>

<div class="container custom-container">
    <img th:src="@{/images/c.jpg}" class="img-fluid custom-img" alt="c">
    <div class="crema-product-reviews crema-applied" data-widget-id="13" data-product-code="21509" style="margin-top: 0px;width: 500px;" data-install-method="hardcoded" data-observed-install="false" data-applied-widgets="[&quot;.crema-product-reviews&quot;]">
        <iframe id="crema-product-reviews-1" height="0"
                src="https://review5.cre.ma/v2/shopperland.co.kr/product_reviews/photo_thumbnail?product_code=21509&amp;iframe_id=crema-product-reviews-1&amp;widget_id=13&amp;widget_style=photo_thumbnail&amp;install_method=hardcoded&amp;app=0&amp;parent_url=https%3A%2F%2Fwww.shopperland.co.kr%2Fproduct%2F%25EA%25B8%25B0%25ED%259A%258D%25ED%2595%259C-%25EA%25B2%25A8%25EC%259A%25B8-%25EC%2595%2584%25EC%259A%25B0%25ED%2584%25B0%25EB%2585%25B8%25EC%258A%25A4-%25EC%259C%2588%25ED%2584%25B0-%25EB%258D%25A4%25EB%25B8%2594-%25EC%25B9%25B4%25EB%259D%25BC-%25EB%25A0%2588%25EB%258D%2594-%25EB%25AC%25B4%25EC%258A%25A4%25ED%2583%2595-%25EC%259E%2590%25EC%25BC%2593-%25EC%2588%258F-%25EC%25BD%2594%25ED%258A%25B8-3color%2F21509%2Fcategory%2F1%2Fdisplay%2F3%2F&amp;nonmember_token=&amp;secure_device_token=V28f2ef9b64ff4a0a838cfa3ccd4a135a7fa5c869000b5aa43a2986c434fc9f3139818309aa33cce62101900dd5fb2bf2f&amp;iframe=1"
                width="100%" scrolling="no" allowtransparency="true" frameborder="0"
                name="crema-product-reviews-1-1730953439984" style="display: block; height: 154px;">

        </iframe></div>

</div>
</body>
</html>